<template>
	<div class="profile">
		<!-- header -->
		<div class="profile_header">
			<svg
				viewBox="0 0 24 24"
				width="24"
				height="24"
				class=""
				@click="$emit('toggle')"
			>
				<path
					fill="#54656f"
					d="m19.1 17.2-5.3-5.3 5.3-5.3-1.8-1.8-5.3 5.4-5.3-5.3-1.8 1.7 5.3 5.3-5.3 5.3L6.7 19l5.3-5.3 5.3 5.3 1.8-1.8z"
				/>
			</svg>
			<h1 class="profile_header-info">
				{{ heading }}
			</h1>
		</div>

		<!-- info -->
		<div class="profile_info">
			<div
				class="img-box"
				:style="{ 'background-image': `url('${avatar}')` }"
				@click="toggleImageViewer"
			/>
			<div class="profile-text-box">
				<h2>{{ room.roomName }}</h2>
				<h3>{{ phone }}</h3>
			</div>
		</div>
		<transition name="vac-fade-message">
			<profile-image
				v-if="showImageViewer"
				:image="avatar"
				:name="room.roomName"
				@close="toggleImageViewer"
			/>
		</transition>
	</div>
</template>

<script>
import DummyAvatar from '../../components/PngIcons/profile-placeholder.png'
import ProfileImage from './ProfileImage.vue'
export default {
	name: 'ProfileBar',
	components: {
		ProfileImage
	},
	props: {
		room: { type: Object, required: true }
	},
	emits: ['toggle'],

	data() {
		return {
			avatar: this.room.avatar || DummyAvatar,
			heading: this.room.isGroup ? 'Group info' : 'Contact info',
			phone: this.room.roomName === this.room.phone ? '' : this.room.phone,
			showImageViewer: false
		}
	},

	methods: {
		toggleImageViewer() {
			this.showImageViewer = !this.showImageViewer
		}
	}
}
</script>

<style></style>
